In [32]:
import pandas as pd
df = pd.read_csv("EURUSDH4.csv")
df.tail()

,time,open,high,low,close,tick_volume,spread,real_volume
9995,2025-04-09 20:00:00,1.10199,1.10626,1.09130,1.09453,30874,8,0
9996,2025-04-10 00:00:00,1.09449,1.09860,1.09425,1.09858,14854,8,0
9997,2025-04-10 04:00:00,1.09857,1.09887,1.09608,1.09821,17355,8,0
9998,2025-04-10 08:00:00,1.09822,1.10474,1.09624,1.10369,25385,8,0
9999,2025-04-10 12:00:00,1.10370,1.11301,1.10330,1.11271,23041,8,0

In [33]:
import numpy as np
import pandas_ta as pdta
df['RSI'] = pdta.rsi(df['close'])
df['MA40'] = pdta.sma(df['close'],length=40)

In [34]:
help(pdta.sma)

Help on function sma in module pandas_ta.overlap.sma:

sma(close, length=None, talib=None, offset=None, **kwargs)
    Simple Moving Average (SMA)

    The Simple Moving Average is the classic moving average that is the equally
    weighted average over n periods.

    Sources:
        https://www.tradingtechnologies.com/help/x-study/technical-indicator-definitions/simple-moving-average-sma/

    Calculation:
        Default Inputs:
            length=10
        SMA = SUM(close, length) / length

    Args:
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 10
        talib (bool): If TA Lib is installed and talib is True, Returns the TA Lib
            version. Default: True
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        adjust (bool): Default: True
        presma (bool, optional): If True, uses SMA for initial value.
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.

In [37]:
from scipy.stats import linregress
import matplotlib.pyplot as plt
def GetSlope(array):
    y = np.array(array)
    x = np.arange(len(y))
    response = linregress(x,y)
    return response.slope

In [38]:
backRolling = 7

df['RSISlope'] = df['RSI'].rolling(window=backRolling).apply(GetSlope, raw=True)
df['slopeMA40'] = df['MA40'].rolling(window=backRolling).apply(GetSlope, raw=True)

In [39]:
df.tail()

,time,open,high,low,close,tick_volume,spread,real_volume,RSI,MA40,RSISlope,slopeMA40
9995,2025-04-09 20:00:00,1.10199,1.10626,1.09130,1.09453,30874,8,0,47.415184,1.094368,-0.814993,0.000543
9996,2025-04-10 00:00:00,1.09449,1.09860,1.09425,1.09858,14854,8,0,51.539877,1.094790,-2.163259,0.000511
9997,2025-04-10 04:00:00,1.09857,1.09887,1.09608,1.09821,17355,8,0,51.145177,1.095279,-2.476780,0.000471
9998,2025-04-10 08:00:00,1.09822,1.10474,1.09624,1.10369,25385,8,0,56.463132,1.095873,-1.180560,0.000463
9999,2025-04-10 12:00:00,1.10370,1.11301,1.10330,1.11271,23041,8,0,63.504910,1.096712,0.275439,0.000497